<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>cars</h1>
<table border="1">
    <tr>
        <td>model</td>
        <td>colour</td>
        <td>number</td>
    </tr>
    <tr th:each="msg : ${cars}">
        <td th:text="${msg.getModel()}"></td>
        <td th:text="${msg.getColour()}"></td>
        <td th:text="${msg.getNumber()}"></td>
    </tr>
</table>

</body>
</html>